<!doctype html>
<html lang="en">
    <head>
        <?- include('meta'); ?>
    </head>
    <body>
        <?- include('header'); ?>
        Admin page
        <?- include('footer'); ?>
        </div>
    </body>
</html>
