<!doctype html>
<html lang="en">
    <head>
        <?- include('meta'); ?>
    </head>
    <body>
        <?- include('header'); ?>

        <main>
            <h1>Hello, World!</h1>
        </main>

        <?- include('footer'); ?>
        </div>
    </body>
</html>
