<!doctype html>
<html lang="en">
    <head>
        <?- include('meta'); ?>
    </head>
    <body>
        <?- include('header'); ?>
        <main>
            <? if (session.loggedIn) { ?>
                <a href="/logout">logout</a>
                <h1>Hello, <?=session.username?>!</h1>

            <? } else { ?>
                <a href="/login">login</a>
                <a href="/register">register</a>
                <a href="/admin">admin</a>
                <h1>Hello, World!</h1>
            <? } ?>
        </main>

        <?- include('footer'); ?>
        </div>
    </body>
</html>
