<!doctype html>
<html lang="en">
    <head>
        <?- include('meta'); ?>
    </head>
    <body>
        <main>
            <form method="POST" action="/register">
                <div class="mb-4">
                    <label for="username" class="mb-2">Username</label>
                    <input type="text" name="username">
                </div>
                <div class="mb-4">
                    <label for="password" class="mb-2">Password</label>
                    <input type="password" name="password">
                </div>
                <button type="submit">Register</button>
            </form>
        </main>
        <?- include('footer'); ?>
        </div>
    </body>
</html>
